# AWS S3 Connection Settings Example
cloud.aws.credentials.accessKey=your_access_key
cloud.aws.credentials.secretKey=your_secret_key
cloud.aws.s3.bucket=your_bucket_name
cloud.aws.region.static=ap-northeast-2
cloud.aws.s3.url=https://your-bucket.s3.your-region.amazonaws.com
